.labels {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-padding: 0 0 0.5px -0.5px;
}

.tabla .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #0D54EC, #0E2556);
    -fx-border-radius: 7px 7px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.tabla {
    -fx-background-color: transparent;
}

.tabla .column-header-background .filler {
    -fx-background-color: transparent;
}
.tabla .corner {
    -fx-background-color: transparent;
}

.tabla .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-background-color: #FFFFFF;
}

.tabla .table-row-cell {
    -fx-font-size: 14px;
}

.tabla .table-row-cell:hover {
    -fx-background-color: #595F6C;
    -fx-text-background-color: red;
}

.tabla .table-row-cell:odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.tabla .table-row-cell:even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.tabla .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.tabla .virtual-flow .scroll-bar:vertical,
.tabla .virtual-flow .scroll-bar:vertical .track,
.tabla .virtual-flow .scroll-bar:vertical .track-background,
.tabla .virtual-flow .scroll-bar:horizontal,
.tabla .virtual-flow .scroll-bar:horizontal .track,
.tabla .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.tabla .virtual-flow .scroll-bar .increment-button,
.tabla .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.BuscarClientes .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #0D54EC, #0E2556);
}
