<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/cablezel</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">cablezel</property> <!-- DB User -->
        <property name="connection.password">1234</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQL92Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping class="com.josue.modelo.Usuario"/>
        <mapping class="com.josue.modelo.Barrio"/>
        <mapping class="com.josue.modelo.TipoContrato"/>
        <mapping class="com.josue.modelo.Cliente"/>
        <mapping class="com.josue.modelo.DetalleFactura"/>
        <mapping class="com.josue.modelo.Factura"/>
        <mapping class="com.josue.modelo.Contrato"/>
        <mapping class="com.josue.modelo.Servicio"/>
        <mapping class="com.josue.modelo.Pago"/>
        <mapping class="com.josue.modelo.DetallePago"/>
        <mapping class="com.josue.modelo.ConfiguracionSistema"/>
        <mapping class="com.josue.modelo.FacturaAutomatica"/>
        <mapping class="com.josue.modelo.Corte"/>

    </session-factory>
</hibernate-configuration>